* {
  font-weight: 100;
  letter-spacing: 2px;
  box-sizing: border-box;
}
.normalScrollBar {
  -webkit-appearance: none;
  outline: none;
  border: 0.5px solid #939393 !important;
  border-radius: 6px !important;
  padding: 0 !important;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  height: 15px;
}
.normalScrollBar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: rgba(254, 161, 0, 0);
  height: 15px;
}
.normalScrollBar:focus {
  outline: none;
}
.normalScrollBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
  border-radius: 6px !important;
  background-color: #cbcbcb;
}
.darkPannel {
  background-color: rgba(0, 0, 0, 0.449);
  backdrop-filter: blur(10px);
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 16px;
  border: 1px solid gray;
  color: white;
}
.error_show {
  font-weight: normal !important;
  color: #ff8400;
}
